.title
{
  text-align: center;
  font-weight: 800;
  color: #fff;
}
body
{
  background-color: #606c38 !important;
}
.list-group-item
{
  background-color: #283618 !important;
  margin-bottom: 20px !important;
  border-radius: 8px !important;
  border: none !important;
}
.table>:not(caption)>*>*
{
  background-color:#283618 !important;
  color: #fff !important;
}
.table > tbody > tr:last-child{
  border-bottom: none !important;
  border-bottom-color: #283618 !important;
}
.table{
  margin-bottom: 0.1rem !important;
  border-color:#606c38 !important;
}
.input
{
  width: 100%;
  border: 1px solid #283618;
}
.country{
  font-size: 2em;
  font-weight: 600;
  color: #fff;
  text-indent: 5px;
}
.nodata
{
  color: #fff !important;
}